<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" style=" background: #000; color: #fff; ">
  {% include nav.html %}
  <!-- {{ content }} -->
  <section>
    <div class="container">
      <h2>Crear grupos</h2>
      <p>Para crear un grupo tenés que ir a **GRUPOS**, luego ir al botón de **CREAR GRUPO**.
      OJO! Tenés que añadir un nombre y elegir el torneo que esté disponible, Luego hacé click en "Crear grupo" en la
      navegación de arriba.</p>

      <h2>¿Cómo se pueden unir a mi grupo?</h2>

      <p>Para unirse a tu grupo pueden unirse buscando el grupo por nombre o por el código que lo identifica</p>
    </div>
  </section>
  {% include scripts.html %}
</body>

</html>